@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,700&display=swap&subset=latin-ext");

$xl: "screen and (min-width: 1200px)";
$lg: "screen and (min-width: 992px)";
$md: "screen and (min-width: 768px)";
$sm: "screen and (min-width: 576px)";

$fontColor: #222;
$color: rgb(88, 123, 146);

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  width: 100%;
  color: $fontColor;
  height: auto;
  min-height: 100vh;
}

::-webkit-scrollbar {
  background: transparent;
  width: 15px;
  &-thumb {
    box-shadow: inset 0 0 15px 15px rgba(110, 110, 110, 0.4);
    border: solid 5px transparent;
    border-radius: 1.3em;
  }
  &-track {
    box-shadow: inset 0 0 15px 15px transparent;
    border: solid 5px transparent;
  }
}

button,
a,
input,
select,
textarea {
  background: transparent;
  font-family: inherit;
  color: inherit;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

button {
  cursor: pointer;
}

input[type="date"]::-webkit-clear-button,
input[type="date"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-clear-button,
input[type="time"]::-webkit-inner-spin-button {
  display: none;
}

::-webkit-calendar-picker-indicator {
  color: inherit;
  background: transparent;
}

input::placeholder {
  font-family: inherit;
  color: inherit;
}

button:active,
button:focus,
input:active,
input:focus,
select:active,
select:focus,
textarea:active,
textarea:focus {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.container {
  width: 100%;
  height: auto;
  overflow-x: hidden;
  padding: 0.5em 1em;

  @media #{$lg} {
    height: 100vh;
    display: grid;
    grid-template-rows: 45px 85px calc(100% - 130px);
    grid-template-columns: 65% 35%;
  }
}

.text--light {
  color: lighten($fontColor, 15);
  font-weight: 300;
}

.text--color {
  color: $color;
}

// ERROR MESSAGE

.error_message {
  z-index: 2;
  position: fixed;
  display: block;
  bottom: 0em;
  right: 0em;
  margin: 1em;
  text-align: right;
  background: rgb(190, 99, 103);
  padding: 0.6em;
  border-radius: 10px;
  color: #fff;
  font-weight: 700;
  font-size: 0.9em;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.15);
}

// USER AUTHORIZATION SECTION

.auth__background {
  display: none;
  @media #{$lg} {
    display: block;
    //Photo by Plush Design Studio on Unsplash
    background-image: url("https://images.unsplash.com/photo-1535086842-67d300b770c1?ixlib=rb-1.2.1&auto=format&fit=crop&w=1536&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0px;
    right: 0px;
    width: 50vw;
    height: 100vh;
  }
}

.auth {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  @media #{$lg} {
    width: 50%;
  }

  &--test {
    text-align: center;
    font-size: 0.9em;
    line-height: 1.5;

    .text--color {
      font-weight: 700;
    }
  }

  &__form {
    padding: 0.7em;
    width: 90%;

    @media #{$sm} {
      width: 65%;
    }
  }

  &__input {
    display: block;
    width: 100%;
    padding: 0.6em 0.8em;
    border: 2px solid #efefef;
    border-radius: 10px;
    margin: 1.2em 0em;
    transition: all 0.1s;
    &:active,
    &:focus {
      border: 2px solid $color;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
  }

  &__control {
    display: flex;
    flex-direction: column;
  }

  &__btn {
    padding: 0.5em;
    margin: 0.3em;

    &--login {
      color: $color;
      font-weight: 700;
      font-size: 1.2em;
    }
  }

  &__text {
    text-align: center;
    margin: 0.3em 0em;
  }
}

// USER PANEL SECTION

.user_panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;

  @media #{$md} {
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0.7em 1em;
  }

  @media #{$lg} {
    grid-area: 1/2/2/3;
    padding: 0.2em 1em;
  }

  &__email {
    font-size: 0.9em;
    margin-right: 0.8em;
    margin-top: 0.1em;
  }

  &__btn {
    color: $color;
    padding: 0.2em;
  }

  &__icon {
    pointer-events: none;
    @media #{$md} {
      font-size: 1.2em;
    }
  }
}

// NEW TIMER FORM SECTION

.new_timer {
  display: flex;
  font-size: 0.8em;

  @media #{$md} {
    justify-content: flex-start;
  }

  @media #{$lg} {
    grid-area: 1/1/3/2;
  }

  &__form {
    width: 100%;
    padding: 1.2em 1.2em 0.8em 1.2em;
    margin: 1em 0em;
    border-radius: 0.7em;
    color: #fff;
    background-color: lighten($color, 10);
    box-shadow: 0 0.5px 1.25px rgba(0, 0, 0, 0.05),
      0px 1px 2.5px rgba(0, 0, 0, 0.05), 0px 2px 5px rgba(0, 0, 0, 0.1),
      0px 4px 10px rgba(0, 0, 0, 0.15), 0px 8px 20px rgba(0, 0, 0, 0.2);

    @media #{$md} {
      width: auto;
      min-width: 400px;
    }

    @media #{$lg} {
      min-width: 500px;
      margin: 1em 0.5em;
    }
  }

  &__select {
    border: 1px solid #fff;
    padding: 0.5em 0.3em;
    border-radius: 0.7em;
    margin: 1.1em 0em;
    option {
      color: $fontColor;
    }
  }

  &__btn {
    font-size: 1.1em;
    color: #dedede;
    font-weight: 700;
    margin-left: 1.8em;
    transition: all 0.1s;
    &:hover {
      color: #fff;
    }
  }
}

// EMPTY TIMERS SECTION

.empty_timers {
  margin: 2em 1em 1em 1em;
  display: flex;
  justify-content: center;
  align-items: center;

  @media #{$lg} {
    grid-area: 3/1/4/3;
  }

  &__text {
    font-size: 1.1em;
  }

  &__icon {
    font-size: 1.7em;
    color: lighten($fontColor, 25);
    margin-right: 0.3em;
  }
}

// TIMERS CONTENT SECTION

.timers__content {
  padding: 0.2em;
  margin: 0.2em 0em;
  @media #{$lg} {
    grid-area: 2/2/3/3;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0.3em 1em;
  }
}

.timers__select {
  border: 1px solid $color;
  padding: 0.3em 0.5em;
  border-radius: 0.7em;
  margin-bottom: 0.2em;
}

.timers__input--date {
  display: block;
  background: lighten($color, 15);
  color: #fff;
  border-radius: 0.7em;
  padding: 0.3em 0.5em;
  margin: 0.5em 0em 1em 0em;
}

//TIMER LIST SECTION

.timer_list {
  padding: 0.2em;
  margin-top: 0.5em;

  @media #{$lg} {
    grid-area: 3/2/4/3;
    margin: 0;
    padding: 1em 1em 0.5em 1em;
    margin-bottom: 0.5em;
    overflow-y: scroll;
  }
}

.timer_item {
  padding: 0.5em;
  margin-bottom: 1.1em;
  border-radius: 0.7em;
  background: darken(#fff, 4);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
  transition: all 0.1s;
  line-height: 1.5;

  &:hover {
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
  }

  &__title {
    text-transform: capitalize;
  }

  &__footer {
    text-align: right;
    padding: 0.1em;
  }

  &__btn {
    padding: 0.2em 0.3em;
    transition: all 0.1s;
    &:hover {
      color: #000;
      font-weight: 700;
    }
  }

  .text--light {
    font-size: 0.9em;
    margin-right: 0.3em;
  }

  .text--color {
    font-size: 0.95em;
    font-weight: 700;
  }
}

//TIMER STATISTIC SECTION

.timer_statistic {
  margin-bottom: 1em;
  padding: 0.5em 0em;

  @media #{$lg} {
    margin-bottom: 0em;
    margin-top: 1.5em;
    grid-area: 3/1/4/2;
    padding: 0.5em;
    overflow: scroll;
  }

  @media #{$xl} {
    margin-top: 0.2em;
    padding: 0.1em 0.4em;
  }

  &__select {
    border: 1px solid $color;
    padding: 0.3em 0.5em;
    border-radius: 0.7em;
    margin-bottom: 0.5em;
  }
}

// ACTIVE TIMER SECTION

.active_timer {
  padding: 0.2em;
  font-size: 0.9em;

  @media #{$lg} {
    padding: 0.5em 1em;
    grid-area: 2/1/4/3;
  }

  &__header {
    margin: 0.5em 0em 1.5em 0em;
    text-align: center;
    @media #{$md} {
      text-align: left;
      margin-bottom: 2em;
    }
  }

  &__text {
    font-size: 1em;
    margin-bottom: 0.4em;
  }

  &__count {
    font-size: 1.5em;
    color: $color;
    @media #{$sm} {
      font-size: 2.5em;
    }

    @media #{$lg} {
      font-size: 3.2em;
    }

    @media #{$xl} {
      font-size: 4em;
    }
  }

  &__content {
    padding: 0.5em 0.8em;
    margin: 1em 0em 1.3em 0em;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    border-radius: 1em;
    background: #ededed;

    @media #{$sm} {
      width: 60%;
    }

    @media #{$md} {
      width: 45%;
    }

    @media #{$lg} {
      width: 350px;
    }

    .text--color {
      font-weight: 700;
      text-transform: capitalize;
    }
  }

  &--description {
    margin: 0.7em 0em;
    display: flex;
    flex-direction: column;

    @media #{$sm} {
      width: 60%;
    }

    @media #{$md} {
      width: 45%;
    }

    @media #{$lg} {
      width: 350px;
    }

    .active_timer__btn {
      display: inline-flex;
      align-self: flex-end;
      padding: 0.4em;
      cursor: pointer;
      @media #{$sm} {
        align-self: flex-start;
      }
    }

    .active_timer__text {
      margin-bottom: 0.2em;
      @media #{$sm} {
        padding-left: 0.2em;
      }
    }
  }

  &__textarea {
    border: 1px solid $color;
    width: 100%;
    min-height: 60px;
    border-radius: 1em;
    font-family: inherit;
    padding: 0.4em;
    resize: none;
    margin: 0.4em 0em 0.5em 0em;
  }

  &--date {
    @media #{$xl} {
      text-align: right;
    }

    .active_timer__btn {
      margin: 0.3em 0em;
      padding: 0.2em;
      text-align: left;
    }
  }

  &__input {
    margin: 0.3em 0.5em 0.3em 0em;
    border: 1px solid $color;
    padding: 0.2em 0.4em;
    border-radius: 1em;
    &--time {
      width: 30%;
      @media #{$sm} {
        width: auto;
      }
    }
  }

  &--finish {
    margin: 1em 0em;
    text-align: right;

    .active_timer__btn {
      padding: 0.4em 0.7em;
      border-radius: 1em;
      background: lighten($color, 10);
      color: #fff;
      font-weight: 700;
      transition: all 0.1s;
      &:hover {
        background: lighten($color, 5);
        box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.15);
      }
    }
  }
}

// COPYRIGHT

.copyright {
  font-size: 0.9em;
  position: absolute;
  bottom: 0.5em;
  left: 0.5em;
  &__link {
    text-decoration: none;
    color: $color;
  }
}
